.indented {
	margin-left:50px;
}

.commentz-counter {
  text-transform:uppercase;
  color:#666666;
  font-size:13px;
  font-weight:bold;
  margin-top:10px;
  margin-bottom:-3px;
}

.commentz-reply-area textarea {
  height:55px !important;
}

span.commentz-author-name {
	margin-left:5px;
}

span.commentz-author-name a{
  font-size:17px;
  vertical-align:top;
}
.commentz-author-info {
	padding:5px;
}
.comment-form {
	background-color:#FAFAFA;
  border:1px solid #CCCCCC;
  padding:5px !important;
  border-radius:5px;
}
.commentz-reply-area.form-group {
	margin-bottom:0px;
}

.commentz-header-avatar {
	float:left;
}
.commentz-box {
	border-top:1px solid #AAAAAA;
	padding-top:10px;
	margin-top:10px;
}
.commentz-header-info {
  float:left;
  margin-left:8px;
}
.commentz-header-username a {
	color: black !important;
	font-size:16px !important;
	font-weight:bold;
}
.commentz-header-username a:hover {
  text-decoration:underline;
}
.commentz-header {
	padding:5px;
}
.commentz-content {
	padding-top:3px;
}
.commentz-header-created {
	color:#999;
	font-size:14px;
	padding-top:3px;
}
.commentz-links ul li a {
	color:#999;
}
.commentz-links ul li a:hover {
  text-decoration:underline;
}
.commentz-confirm {
	background-color:#F2F2F2;
	border: 1px solid #CCCCCC;
	color:#666666;
	padding:5px;
	border-radius:5px;
}
.commentz-gray {
	color:gray;
}
.commentz-form {
	margin-top:5px;
	padding:15px 5px 5px 5px;
  border-top: 1px solid #CCCCCC;
  background-color: #EEEEEE;
}
form#commentz-form {
	margin:5px;
}
/******************* CommentZ Response *****************/
.commentz-response-inner {
  margin:3px 0;
  color:#333333;	
  border-top: 1px dotted #AAAAAA;
  padding:4px 0;
  padding-left:30px;
  font-size:13px;
  color:#555555;
}
.commentz-response-created {
  color:gray;	
}
.commentz-response-form{
	padding-top:10px;
	display:none;
}
.commentz-response-delete-link {
	vertical-align:middle;
	display:none;
}
